body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#space-invaders{ 
    border: 1px solid;
    margin: 0 auto 0 auto;
    width: 50vw;
    height: 50vh;
}

.cacher{
    display: none;
}